@import "tailwindcss"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

@media (prefers-reduced-motion: reduce) {
    [data-fadein] {
        transition: none !important;
        transform: none !important;
        filter: none !important;
        opacity: 1 !important;
    }
}